<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>react-remote-component</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div data-role="react"></div>
</body>
</html>